@{
    ViewBag.Title = "Contact";
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="@Url.Content("~/Content/Dashboard.css")" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Calligraffitti" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<!--Sort list is not okay-->
<body>
    <div class="midBlock" id="sort">
        <ul id="sort" class="List">
            <li><a>Sort 1</a></li>
            <li><a>Sort 2</a></li>
            <li><a>Sort 3</a></li>
        </ul>
    </div>


    <div id="dashboard" class="midBlock listContainer">

       <div id="originList">
         <ul class="List">
            <li>Q1 </li> 
            <li>Q1 </li>
            <li>Q1 </li>
            <li>Q1 </li>
            <li>Q1 </li>
            <li>Q1 </li>
         </ul>
       </div>

        <div id="quoteList">
            <ul class="List">
                <li>Q1 </li>
                <li>Q1 </li>
                <li>Q1 </li>
                <li>Q1 </li>
                <li>Q1 </li>
                <li>Q1 </li>
             </ul>
            </div>

            <div id="commandList" class="listContainer">
                  <div>
                       <ul class="List Votes">
                           <li><div>+</div></li>
                           <li><div>+</div></li>
                           <li><div>+</div></li>
                           <li><div>+</div></li>
                           <li><div>+</div></li>
                           <li><div>+</div></li>
                       </ul>
                  </div>
              </div>

        <div id="commandList" class="listContainer">
                   <div id="downvoteContainer">
                       <ul class="List Votes" id="downvote">
                           <li><div>-</div></li>
                           <li><div>-</div></li>
                           <li><div>-</div></li>
                           <li><div>-</div></li>
                           <li><div>-</div></li>
                           <li><div>-</div></li>
                       </ul>
                   </div>
            </div>
    </div>
</body>

</html>
