tr td {
    max-width: 80px;
    max-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
}

table tr {
    height: 60px;
    transition: background-color 0.1s;
    -webkit-transition: background-color 0.1s;
}

tr:hover {
    background-color: #262626;
}

#link {
    font-size: 100px;
}

#score {
    padding-left: 4%;
}
