@using Microsoft.AspNet.Identity
<link rel="stylesheet" href="~/Content/LoginPartialDesign.css"/>

<div class="wrapper">
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
    {
    @Html.AntiForgeryToken()

    <ul>
        <li>
            @Html.ActionLink("Profile", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", id = "leftButton"})
        </li>
        <li><a id="rightButton" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <p id="footerInfo">You need to log in first before using our website.</p>
}
</div>