body{
    background:  url(../Resources/Images/simson-petrol-110900.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h4 {
    position: relative;
    margin-top: 5%;
}

#form{
    width: 40%;
    height: 65%;
    margin-left: 30%;
    margin-right:auto;
    display: flex;
    text-align: center;
    justify-content: space-around;

    position: absolute;
    top: 20%;

    
    border-color: #000000;

    border-top-style: solid;
    border-left-style:solid;
    border-right-style:solid;
    border-top-color: rgba(255, 230, 181, 0.8);

    border-left-width: 2px;
    border-right-width: 2px;
    border-left-color: #f9f8f4;
    border-right-color: #f9f8f4;

    border-width: 5px;
    background-color: #f9f8f4;
    opacity: 0.9;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#login input{
    margin-top: 10%;
    margin-bottom: 10%;
}

#regLink{
    position:relative;
    top: 60%;
    left: 35%;

    color: whitesmoke;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#P1{
    font-size: 5em;

}

#P2 {
    font-size: 2.8em;
    position: absolute;
    bottom: 30%;
    left: 13%;

}

#P3{
    font-size: 1.4em;
}

#P4{
    font-size: 1em;
    position: relative;
    padding-left: 10%;
}

