body {
     background:  url(../Resources/Images/White-Background-Iphone-Pics-1.jpg) no-repeat center center fixed; 
     -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#sort{
    /*!!!!!!!!!!!!!!!!!!! Hidden sort buttons*/
    display: none;
    background-color: white;
    position: relative;
    padding-bottom: 0.3%;
    text-align: center;

    right: 1%;
}

#sort li{
    float: left;
    width:33%;
    border: 1px solid black;
    

}

#dashboard{
  

      width: 75%;
     margin-left:auto;
    margin-right: auto;

    vertical-align: middle;
    padding-top: 1%;
    padding-bottom: 3%;
    padding-right: 3%;

   
}

.listContainer div{
        display: inline-block;
        
}

#listRow{
    list-style: none;
}

#listRow li{
    margin-top: 2%;
    margin-bottom: -4%;

}

    
#originList{
    font-size: 1.4em;
    width: 10.5%;
    margin-left: 2%;

}


#quoteList{
    font-size: 1.4em;
    width: 60%;
}

.commandList{
    text-align: center;
    color: white;

    border: none !important;

    font-size: 1.7em;
    display: block;
    width: 10px;
    padding-bottom: 2%;

    
}




#containerEntry{

    margin-top: 9px;
    position:relative;
    background-color: black;
    opacity: 0.8;
    width: 100%;
}

#containerEntry div{
    border-bottom: 1px solid white;

    margin-right: 3%;
    
    display: inline-block;
}

#containerVotes{
    width: 5%;
    border: none !important;
    
}