.wrapper {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #d3b16e;
    opacity: 0.8;
    height: 35px;
}

.wrapper ul > li {
    float: left;
}

.wrapper ul {
    list-style-type: none;
}

.wrapper li a {
    display: block;
    text-decoration: none;
    margin-top: -12px;
    font-family: 'Calligraffitti', cursive;
    color: #302c25;
    font-size: 1.2em;
    font-weight: bold;
}

.wrapper li a:hover {
    text-decoration: none;
    color: #302c25;
}

.wrapper li a:active {
    text-decoration: none;
    color: #302c25;
}

.wrapper li a:visited {
    text-decoration: none;
    color: #302c25;
}

#leftButton {
    position: absolute;
    bottom: 3px;
    left: 5%;
}

#rightButton {
    position: absolute;
    bottom: 3px;
    right: 5%;
}

#footerInfo {
    font-family: 'Calligraffitti', cursive;
    color: black;
    font-size: 1.3em;
    font-weight: bolder;
    text-align: center;
    padding-top: 3px;
    text-shadow: white 0px 0px 10px;
    letter-spacing: 2px;
}